.icon {
  display: flex;
  float: left;
  margin: 5px;
}
.heading {
  line-height: 0px;
}
body {
  background: #333;
}

body {
  background: #333;
}
.icon a {
  line-height: 10px;
}
.icon:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}
