.icon{

    display: flex;
    float: left;
    margin: 5px;
}
.headings
{
    line-height: 0px;

}


.themeI {
    background-color: #3e5050
}
.themeI .palete2 {
    color:#EDF5E3}
.themeI .palete3{
        color:#EDF5E3}
.themeI .palete4 , .themeI svg {

    background-color:#74c697 !important
}

.themeII {
    background-color: #444
}
.themeII .palete2 {
    color:#B2AFAC}
.themeII .palete3{
        color:#959492}
.themeII .palete4 , .themeII svg {
    background-color:#FFCE2B !important
}
 
.themeIII {
    background-color: #59253a
}
.themeIII .palete2 {
    color:#EDF5E3}
.themeIII .palete3{
        color:#EDF5E3}
.themeIII .palete4 , .themeIII svg {
    background-color:#2d4159 !important
}

