.skill-list {
  display: table-cell;
}
.card {
  border: 1px solid #ccc;
  background-color: #444;
  padding: auto;
  display: table-cell;
}
.skill-icon {
  margin-inline: 5px;
}
.skill-title {
  line-height: 0em;
  text-align: center;
}
