.themeI {
  background-color: #3e5050;
}
.themeI .palete2 {
  color: #edf5e3;
}
.themeI .palete3 {
  color: #edf5e3;
}
.themeI .palete4,
.themeI .icon svg {
  background-color: #74c697 !important;
}

.themeII {
  background-color: #444;
}
.themeII .palete2 {
  color: #edf5e3;
}
.themeII .palete3 {
  color: #edf5e3;
}
.themeII .palete4,
.themeII .icon svg {
  background-color: #ffce2b !important;
}

.themeIII {
  background-color: #59253a;
}
.themeIII .palete2 {
  color: #edf5e3;
}
.themeIII .palete3 {
  color: #edf5e3;
}
.themeIII .palete4,
.themeIII .icon svg {
  background-color: #2d4159 !important;
}


