.themeI {
  background-color: #3e5050;
}
.themeI .palete2 {
  color: #edf5e3;
}
.themeI .palete3 {
  color: #edf5e3;
}
.themeI .palete4,
.themeI .icon svg {
  background-color: #74c697 !important;
}

.themeII {
  background-color: #444;
}
.themeII .palete2 {
  color: #edf5e3;
}
.themeII .palete3 {
  color: #edf5e3;
}
.themeII .palete4,
.themeII .icon svg {
  background-color: #ffce2b !important;
}

.themeIII {
  background-color: #59253a;
}
.themeIII .palete2 {
  color: #edf5e3;
}
.themeIII .palete3 {
  color: #edf5e3;
}
.themeIII .palete4,
.themeIII .icon svg {
  background-color: #2d4159 !important;
}

.themeIIII {
  background: linear-gradient(-45deg, #08d446, #02d697, #0065c4, #022b5a);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.themeIIII .palete2 {
  color: #edf5e3;
}
.themeIIII .palete3 {
  color: #edf5e3;
}
.themeIIII .palete4,
.themeIIII .icon svg {
  background-color: #444 !important;
}
